In [18]:
import os
import pandas as pd
import csv

In [22]:
df1 = pd.read_csv("Jan_2020_citibike.csv")

In [23]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [27]:
df2 = pd.read_csv("Feb_2020_citibike.csv")

In [28]:
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,04:50.2,08:37.0,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,16:01.7,22:19.1,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,17:33.9,22:22.4,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,32:05.9,39:21.1,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,46:19.7,50:11.3,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

df3 = pd.read_csv("Mar_2020_citibike.csv")

In [29]:
df3 = pd.read_csv("Mar_2020_citibike.csv")

In [30]:
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,02:13.8,16:15.5,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,16:11.4,19:37.4,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,23:22.1,37:41.5,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,25:14.5,36:48.0,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,32:30.5,57:04.4,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [31]:
frames = [df1, df2, df3,]
df = pd.concat(frames).drop_duplicates()

In [32]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [33]:
total_rows=len(df.axes[0])

In [34]:
print("Number of Rows: " +str(total_rows))

Number of Rows: 68710

In [35]:
df.to_csv("2020-citibike-all.csv", index=False)

In [36]:
# Read in new csv
df = pd.read_csv("2020-citibike-all.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [37]:
# Convert trip duration column from seconds to minutes
df["tripduration"] = [trip/60 for trip in df["tripduration"]]

# Filter out trips over 24 hours long
df = df.loc[df["tripduration"] < 1440, :]

# Rename trip duration column
df.rename(columns={"tripduration":"tripduration (min)"})

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,25.883333,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,6.933333,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,4.900000,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,1.616667,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,4.766667,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [38]:
# Rename values in gender column with strings
gender = {0:"Unknown", 1:"Male", 2:"Female"}
df.gender = [gender[item] for item in df.gender]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,25.883333,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,Male
1,6.933333,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,Male
2,4.900000,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,Male
3,1.616667,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,Male
4,4.766667,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,Male

In [39]:
# Add ride id column to uniquely identify each ride
df["rideid"] = df["start station id"].map(str) + "_" + df["end station id"].map(str)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid
0,25.883333,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,Male,3681_3198
1,6.933333,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,Male,3195_3679
2,4.900000,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,Male,3195_3678
3,1.616667,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,Male,3202_3638
4,4.766667,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,Male,3195_3679

In [40]:
from math import sin, cos, sqrt, atan2, radians

# Convert degrees to radians
lat1 = [radians(lat) for lat in df["start station latitude"]]
lon1 = [radians(lon) for lon in df["start station longitude"]]
lat2 = [radians(lat) for lat in df["end station latitude"]]
lon2 = [radians(lon) for lon in df["end station longitude"]]

# Convert lists into series
lat1 = pd.Series(lat1)
lon1 = pd.Series(lon1)
lat2 = pd.Series(lat2)
lon2 = pd.Series(lon2)

# Calculate difference between each set of latitude and longitude
dlat = lat2 - lat1
dlon = lon2 - lon1

In [41]:
# Approximate radius of Earth in km
R = 6373.0

# Empty list to store trip distances
distance = []

for i in range(0, len(lat1)):
    
    a = sin(dlat[i] / 2)**2 + cos(lat1[i]) * cos(lat2[i]) * sin(dlon[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Get distance and convert km to miles
    miles = (R * c) * .6214
    
    # Append miles travel to 'distance' list
    distance.append(miles)

In [42]:
# Add trip distance as new column to data frame
df["tripdistance (mi)"] = distance
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi)
0,25.883333,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,Male,3681_3198,2.322608
1,6.933333,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,Male,3195_3679,0.724896
2,4.900000,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,Male,3195_3678,0.552610
3,1.616667,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,Male,3202_3638,0.221694
4,4.766667,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,Male,3195_3679,0.724896

In [44]:
# Calculate age of riders
ages = []

for i in df["birth year"]:
    age = 2019 - i
    ages.append(age)

In [45]:
# Append new Age column
df["Age"] = ages
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,rideid,tripdistance (mi),Age
0,25.883333,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,Male,3681_3198,2.322608,39
1,6.933333,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,Male,3195_3679,0.724896,63
2,4.900000,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,Male,3195_3678,0.552610,42
3,1.616667,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,Male,3202_3638,0.221694,26
4,4.766667,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,Male,3195_3679,0.724896,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68705,4.366667,40:53.2,45:15.3,3639,Harborside,40.719252,-74.034234,3214,Essex Light Rail,40.712774,-74.036486,42467,Subscriber,1967,Male,3639_3214,0.462993,52
68706,3.600000,41:01.3,44:38.0,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42377,Subscriber,1958,Male,3186_3483,0.412567,61
68707,1.683333,45:22.2,47:03.3,3214,Essex Light Rail,40.712774,-74.036486,3681,Grand St,40.715178,-74.037683,42485,Subscriber,1967,Male,3214_3681,0.177578,52
68708,4.650000,47:56.8,52:36.6,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42531,Subscriber,1988,Male,3186_3483,0.412567,31
68709,3.533333,49:18.5,52:50.7,3184,Paulus Hook,40.714145,-74.033552,3276,Marin Light Rail,40.714584,-74.042817,42385,Subscriber,1967,Male,3184_3276,0.486344,52

In [50]:
# Delete all rows where user age is over 90
df = df.loc[df["Age"] < 90]

In [51]:
# Divide users in age bins
bins = [0, 17, 25, 35, 50, 65, 90]
labels = ["0-17", "18-25", "26-35", "36-50", "51-65", "65-90"]

df["Age Group"] = pd.cut(df["Age"], bins, labels=labels)

In [52]:
# Delete column
del df["birth year"]

In [53]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,rideid,tripdistance (mi),Age,Age Group
0,25.883333,07:13.9,33:07.7,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,Male,3681_3198,2.322608,39,36-50
1,6.933333,16:40.5,23:36.6,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,Male,3195_3679,0.724896,63,51-65
2,4.900000,20:29.8,25:24.0,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,Male,3195_3678,0.552610,42,36-50
3,1.616667,21:13.8,22:51.6,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,Male,3202_3638,0.221694,26,26-35
4,4.766667,29:58.0,34:44.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,Male,3195_3679,0.724896,29,26-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68705,4.366667,40:53.2,45:15.3,3639,Harborside,40.719252,-74.034234,3214,Essex Light Rail,40.712774,-74.036486,42467,Subscriber,Male,3639_3214,0.462993,52,51-65
68706,3.600000,41:01.3,44:38.0,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42377,Subscriber,Male,3186_3483,0.412567,61,51-65
68707,1.683333,45:22.2,47:03.3,3214,Essex Light Rail,40.712774,-74.036486,3681,Grand St,40.715178,-74.037683,42485,Subscriber,Male,3214_3681,0.177578,52,51-65
68708,4.650000,47:56.8,52:36.6,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,42531,Subscriber,Male,3186_3483,0.412567,31,26-35
68709,3.533333,49:18.5,52:50.7,3184,Paulus Hook,40.714145,-74.033552,3276,Marin Light Rail,40.714584,-74.042817,42385,Subscriber,Male,3184_3276,0.486344,52,51-65

In [54]:
df.to_csv("2020-citibike-ALL2.csv", index=False)